.profile {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 58px;
  position: relative;
  background-color: var(--primary);
}

.profile .frame {
  display: flex;
  flex-direction: column;
  min-width: 309px;
  max-width: 309px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}


.profile .input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff; 
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--gray);
}


.profile .input input::placeholder {
  color: #c5c3c3; 
}


.profile .input input {
  color: #000000; 
  background: transparent; 
  border: none; 
}

.profile .group {
  position: relative;
  width: 225px;
  height: 86.85px;
}

.profile .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 72px 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.profile .sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.profile .frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 24px 0px 0px 24px;
}

.profile .text-wrapper {
  color: var(--primary);
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Anton SC", Helvetica;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primary);
  border-radius: 24px 0px 0px 24px;
}

.profile .PERFIL {
  color: var(--white);
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Anton SC", Helvetica;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .frame-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 72px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--white);
  border-radius: 16px;
}

.profile .frame-4 {
  display: flex;
  align-items: flex-start;
  gap: 72px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.profile .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.profile .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.profile .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 72px;
  position: relative;
  flex: 0 0 auto;
}

.profile .frame-7 {
  display: flex;
  flex-direction: column;
  width: 311px;
  align-items: center;
  gap: 32px;
  position: relative;
}

.profile .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--ANTON-SC-32-font-family);
  font-weight: var(--ANTON-SC-32-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-32-font-size);
  letter-spacing: var(--ANTON-SC-32-letter-spacing);
  line-height: var(--ANTON-SC-32-line-height);
  font-style: var(--ANTON-SC-32-font-style);
}

.profile .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--gray);
}

.profile .placeholder {
  position: relative;
  flex: 1;
  font-family: var(--inter-16-600-font-family);
  font-weight: var(--inter-16-600-font-weight);
  color: var(--gray);
  font-size: var(--inter-16-600-font-size);
  letter-spacing: var(--inter-16-600-letter-spacing);
  line-height: var(--inter-16-600-line-height);
  font-style: var(--inter-16-600-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.profile .placeholder-2 {
  position: relative;
  flex: 1;
  font-family: var(--inter-16-600-font-family);
  font-weight: var(--inter-16-600-font-weight);
  color: var(--gray);
  font-size: var(--inter-16-600-font-size);
  letter-spacing: var(--inter-16-600-letter-spacing);
  line-height: var(--inter-16-600-line-height);
  font-style: var(--inter-16-600-font-style);
}

.profile .radio-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.profile .group-2 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--slate-200);
}

.profile .radio {
  position: relative;
  width: fit-content;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: var(--dark-gray);
  font-size: var(--small-font-size);
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  white-space: nowrap;
  font-style: var(--small-font-style);
}

.profile .ellipse {
  position: relative;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 3px;
  background-color: var(--dark-gray);
  border-radius: 4px;
}

.profile .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.profile .frame-11 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .height-weight {
  display: flex;
  flex-direction: column;
  width: 237px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.profile .frame-12 {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primary);
  border-radius: 8px;
}

.profile .element {
  position: relative;
  flex: 1;
  font-family: var(--ANTON-SC-24-font-family);
  font-weight: var(--ANTON-SC-24-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-24-font-size);
  letter-spacing: var(--ANTON-SC-24-letter-spacing);
  line-height: var(--ANTON-SC-24-line-height);
  font-style: var(--ANTON-SC-24-font-style);
}

.profile .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.profile .frame-14 {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.profile .div-2 {
  display: flex;
  width: 251px;
  align-items: flex-end;
  padding: 24px;
  position: relative;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--gray);
}

.profile .preview {
  position: relative;
  width: 130px;
  height: 130px;
}

.profile .text-wrapper-3 {
  color: #ef476f;
  position: absolute;
  top: 123px;
  left: 135px;
  font-family: var(--ANTON-SC-24-font-family);
  font-weight: var(--ANTON-SC-24-font-weight);
  font-size: var(--ANTON-SC-24-font-size);
  letter-spacing: var(--ANTON-SC-24-letter-spacing);
  line-height: var(--ANTON-SC-24-line-height);
  font-style: var(--ANTON-SC-24-font-style);
}

.profile .feminino {
  color: #26547c;
  position: absolute;
  top: 123px;
  left: 135px;
  font-family: var(--ANTON-SC-24-font-family);
  font-weight: var(--ANTON-SC-24-font-weight);
  font-size: var(--ANTON-SC-24-font-size);
  letter-spacing: var(--ANTON-SC-24-letter-spacing);
  line-height: var(--ANTON-SC-24-line-height);
  font-style: var(--ANTON-SC-24-font-style);
}

.profile .frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .p {
  position: relative;
  align-self: stretch;
  opacity: 0.7;
  font-family: var(--inter-16-500-font-family);
  font-weight: var(--inter-16-500-font-weight);
  color: var(--dark-gray);
  font-size: var(--inter-16-500-font-size);
  letter-spacing: var(--inter-16-500-letter-spacing);
  line-height: var(--inter-16-500-line-height);
  font-style: var(--inter-16-500-font-style);
}

.profile .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primary);
  border-radius: 8px;
}

.profile .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  font-family: var(--inter-16-600-font-family);
  font-weight: var(--inter-16-600-font-weight);
  color: var(--white);
  font-size: var(--inter-16-600-font-size);
  letter-spacing: var(--inter-16-600-letter-spacing);
  line-height: var(--inter-16-600-line-height);
  white-space: nowrap;
  font-style: var(--inter-16-600-font-style);
}

.profile .frame-17 {
  display: flex;
  flex-direction: column;
  width: 362px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
}

.profile .frame-18 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px 8px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.profile .frame-19 {
  display: flex;
  flex-direction: column;
  min-width: 223px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--primary);
  border-radius: 4px;
}

.profile .frame-20 {
  display: flex;
  width: 175px;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.profile .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Anton SC", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: var(--inter-16-600-font-family);
  font-weight: var(--inter-16-600-font-weight);
  color: #ffffff;
  font-size: var(--inter-16-600-font-size);
  letter-spacing: var(--inter-16-600-letter-spacing);
  line-height: var(--inter-16-600-line-height);
  font-style: var(--inter-16-600-font-style);
}

.profile .frame-21 {
  display: flex;
  flex-direction: column;
  min-width: 223px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid;
  border-color: #d6d6d6;
  box-shadow: 0px 2px 15px #0000001a;
}

.profile .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Anton SC", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  opacity: 0.7;
  font-family: var(--inter-16-600-font-family);
  font-weight: var(--inter-16-600-font-weight);
  color: var(--dark-gray);
  font-size: var(--inter-16-600-font-size);
  letter-spacing: var(--inter-16-600-letter-spacing);
  line-height: var(--inter-16-600-line-height);
  font-style: var(--inter-16-600-font-style);
}

.div-2 {
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.div-2.selected {
  background-color: #00916E; /* Cor verde */
  border-color: #007b5f; /* Bordas em tom mais escuro */
  color: white; /* Altera a cor do texto para branco */
}

.frame-19.selected, .frame-21.selected {
  background-color: #00916E; /* Cor verde */
  color: white; /* Altera a cor do texto para branco */
}


.text-wrapper-4.selected, .text-wrapper-6.selected {
  color: white; /* Muda a cor do texto para branco */
}