.results {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 58px;
  position: relative;
  background-color: var(--primary);
}

.results .frame {
  display: flex;
  flex-direction: column;
  min-width: 309px;
  max-width: 309px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.results .group {
  position: relative;
  width: 225px;
  height: 86.85px;
}

.results .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 72px 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.results .sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.results .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.results .frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primary);
  border-radius: 24px 0px 0px 24px;
}

.results .text-wrapper {
  color: var(--white);
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Anton SC", Helvetica;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.results .frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 24px 0px 0px 24px;
}

.results .PERFIL {
  color: var(--primary);
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Anton SC", Helvetica;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.results .frame-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 90px 72px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--white);
  border-radius: 16px;
}

.results .frame-4 {
  display: flex;
  width: 1351px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.results .frame-5 {
  display: flex;
  flex-direction: column;
  width: 806px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
}

.results .frame-6 {
  display: flex;
  align-items: center;
  gap: 121px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.results .frame-7 {
  display: flex;
  flex-direction: column;
  width: 357px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
}

.results .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.results .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--ANTON-SC-32-font-family);
  font-weight: var(--ANTON-SC-32-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-32-font-size);
  letter-spacing: var(--ANTON-SC-32-letter-spacing);
  line-height: var(--ANTON-SC-32-line-height);
  font-style: var(--ANTON-SC-32-font-style);
}

.results .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 132px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primary);
  border-radius: 12px;
  overflow: hidden;
}

.results .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -2px;
  margin-right: -2px;
  font-family: var(--ANTON-SC-24-font-family);
  font-weight: var(--ANTON-SC-24-font-weight);
  color: var(--white);
  font-size: var(--ANTON-SC-24-font-size);
  letter-spacing: var(--ANTON-SC-24-letter-spacing);
  line-height: var(--ANTON-SC-24-line-height);
  font-style: var(--ANTON-SC-24-font-style);
}

.results .frame-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 132px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--secondary);
  border-radius: 12px;
  overflow: hidden;
}

.results .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--ANTON-SC-24-font-family);
  font-weight: var(--ANTON-SC-24-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-24-font-size);
  letter-spacing: var(--ANTON-SC-24-letter-spacing);
  line-height: var(--ANTON-SC-24-line-height);
  font-style: var(--ANTON-SC-24-font-style);
}

.results .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.results .text-wrapper-5 {
  width: fit-content;
  color: #000000;
  position: relative;
  margin-top: -1px;
  font-family: var(--ANTON-SC-32-font-family);
  font-weight: var(--ANTON-SC-32-font-weight);
  font-size: var(--ANTON-SC-32-font-size);
  letter-spacing: var(--ANTON-SC-32-letter-spacing);
  line-height: var(--ANTON-SC-32-line-height);
  font-style: var(--ANTON-SC-32-font-style);
}

.results .frame-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 52px;
  padding: 32px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--gray);
}

.results .frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.results .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.results .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Anton SC", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.results .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: var(--ANTON-SC-20-font-family);
  font-weight: var(--ANTON-SC-20-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-20-font-size);
  letter-spacing: var(--ANTON-SC-20-letter-spacing);
  line-height: var(--ANTON-SC-20-line-height);
  font-style: var(--ANTON-SC-20-font-style);
}

.results .rectangle-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 19px;
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgb(135.63, 222.36, 239.7) 8%,
    rgb(153.49, 243.95, 164.04) 31%,
    rgb(255, 218.4, 108.59) 50.5%,
    rgb(255, 176.24, 127.29) 78%,
    rgb(249.05, 121, 121) 100%
  );
}

.results .rectangle {
  position: relative;
  width: 20px;
  height: 20px;
  left: 83px;
  background-color: var(--white);
  border-radius: 20px;
}

.results .ellipse {
  position: absolute;
  width: 19px;
  height: 20px;
  top: 162px;
  left: 735px;
  background-color: var(--white);
  border-radius: 9.5px/10px;
}

.results .frame-14 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.results .text-wrapper-8 {
  position: relative;
  width: 361px;
  margin-top: -1px;
  font-family: var(--ANTON-SC-32-font-family);
  font-weight: var(--ANTON-SC-32-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-32-font-size);
  letter-spacing: var(--ANTON-SC-32-letter-spacing);
  line-height: var(--ANTON-SC-32-line-height);
  font-style: var(--ANTON-SC-32-font-style);
}

.results .frame-15 {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.results .frame-16 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.results .frame-17 {
  display: flex;
  width: 88px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.results .overlap-group {
  position: relative;
  width: 12px;
  height: 22px;
  top: 1px;
  left: 6px;
}

.results .vector {
  position: absolute;
  width: 10px;
  height: 2px;
  top: 0;
  left: 1px;
}

.results .vector-2 {
  position: absolute;
  width: 12px;
  height: 22px;
  top: 0;
  left: 0;
}

.results .vector-3 {
  position: absolute;
  width: 12px;
  height: 3px;
  top: 9px;
  left: 0;
}

.results .rectangle-2 {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 11px;
  left: 1px;
  background-color: #26547c;
}

.results .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.7;
  font-family: var(--ANTON-SC-24-font-family);
  font-weight: var(--ANTON-SC-24-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-24-font-size);
  letter-spacing: var(--ANTON-SC-24-letter-spacing);
  line-height: var(--ANTON-SC-24-line-height);
  font-style: var(--ANTON-SC-24-font-style);
}

.results .frame-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.results .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--ANTON-SC-32-font-family);
  font-weight: var(--ANTON-SC-32-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-32-font-size);
  letter-spacing: var(--ANTON-SC-32-letter-spacing);
  line-height: var(--ANTON-SC-32-line-height);
  font-style: var(--ANTON-SC-32-font-style);
}

.results .frame-19 {
  display: flex;
  width: 806px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.results .frame-20 {
  display: inline-flex;
  height: 48px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.results .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: var(--ANTON-SC-24-font-family);
  font-weight: var(--ANTON-SC-24-font-weight);
  color: var(--dark-gray);
  font-size: var(--ANTON-SC-24-font-size);
  letter-spacing: var(--ANTON-SC-24-letter-spacing);
  line-height: var(--ANTON-SC-24-line-height);
  font-style: var(--ANTON-SC-24-font-style);
}

.results .frame-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.results .sed-ut-perspiciatis {
  position: relative;
  align-self: stretch;
  height: 68px;
  opacity: 0.7;
  font-family: var(--inter-14-400-font-family);
  font-weight: var(--inter-14-400-font-weight);
  color: var(--dark-gray);
  font-size: var(--inter-14-400-font-size);
  letter-spacing: var(--inter-14-400-letter-spacing);
  line-height: var(--inter-14-400-line-height);
  font-style: var(--inter-14-400-font-style);
}

.results .frame-22 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.results .frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.results .frame-24 {
  display: flex;
  flex-direction: column;
  width: 409px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.results .p {
  position: relative;
  align-self: stretch;
  opacity: 0.7;
  font-family: var(--inter-14-400-font-family);
  font-weight: var(--inter-14-400-font-weight);
  color: var(--dark-gray);
  font-size: var(--inter-14-400-font-size);
  letter-spacing: var(--inter-14-400-letter-spacing);
  line-height: var(--inter-14-400-line-height);
  font-style: var(--inter-14-400-font-style);
}

.results .rectangle-3 {
  position: relative;
  width: 409px;
  height: 1px;
  background-color: var(--gray);
}


@keyframes slide-up {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes wave {
  0% { transform: translateY(0); }
  25% { transform: translateY(-1px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(1px); }
  100% { transform: translateY(0); }
}

.wave1, .wave2, .wave3, .wave4, .wave5, .wave6 {
  animation: wave 1s ease-in-out  infinite;
}

.wave2 {
  animation-delay: 0.2s; 
}

.wave3 {
  animation-delay: 0.4s; 
}


.wave4 {
  animation-delay: 0.6s; 
}

.wave5 {
  animation-delay: 0.8s; 
}


.wave6 {
  animation-delay: 0.10s; 
}

