@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Anton+SC:400,var(--ANTON-SC-32-font-weight)|Inter:var(--inter-16-600-font-weight),var(--inter-20-600-font-weight)");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #FBFBFB;
  --text-color: #242424;
  --primary:#00916E;
  --gray:#D7D7D7;
  --secondary:#F5B700;
}
